*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color:white;
  margin: auto;
}

.d-flex > img{
  width: 80px;
}

#linkedin {
  padding-right: 8px; 
}

#profile {
  margin-top: 8rem;
  border-width: 80px;
}

h2 {
  font-style: italic;
}

h3 {
  margin-top: 1rem;
}

#about {
  background-color: #36353b/*#111111*/;
  border-radius: 8px;
  border: 5px solid;
  border-color: #36353b;
  padding: 1rem;
}

#cert {
  background-color: #36353b/*#111111*/;
  border-radius: 8px;
  border: 5px solid;
  border-color: #36353b;
  padding: 3rem;
  margin-top: 3rem;
}

#zuitt {
  max-width: 50%;
  height: auto;
  margin-left: 16rem;
}

#proj {
  
  background-color: #36353b/*#111111*/;
  border-radius: 8px;
  border: 5px solid;
  border-color: #36353b;
  padding: 1rem;
}

#skills {
  background-color: #36353b/*#111111*/;
  border-radius: 8px;
  border: 5px solid;
  border-color: #36353b;
  padding: 1rem;
}


#tools > img{
    width: 80px;
    background-color: white;
    margin: 0.3rem;
    border: 5px solid;
    border-radius: 20%;

}

body {
  /*background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;*/
  background-color: #696969;
}

html {
  scroll-behavior: smooth;
}

#greeting {
  background-image: url(./images/greeting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed; */
  min-height: 657px;
}

#intro-text{
  font-family: 'Anton', sans-serif;
  color:white;
}


@media (min-width: 992px) {
  #intro-pic {
    margin-top: 9rem;
    padding-left: 4rem;
  }

  #intro-text {
  /*margin-right: 20rem;*/
    margin-top: 18rem;
  }
}

